certifi
Cython
decorator
entrypoints
Flask
gast
google-pasta
gunicorn
h5py
ipykernel
ipython
ipython-genutils
itsdangerous
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
Markdown
notebook
numpy
pandas
python-dateutil
PyYAML
scikit-learn
scipy
tensorboard
tensorflow
tensorflow-estimator
webencodings
Werkzeug

